.about-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: var(--section-bg);
    border-radius: 2rem;
    padding: 2rem;
}

.about__title {
    position: relative;
    font-size: var(--size-3xl);
    font-weight: 700;
    color: var(--dark);
    margin-bottom: 1.5rem;
}

.about__subtitle {
    color: var(--dark);
    font-size: var(--size-lg);
    max-width: 70ch;
}

.about__title__superscript {
    font-size: var(--size-xs);
    position: absolute;
    bottom: 100%;
    right: 40%;
}

.about__title__superscript>svg {
    display: inline;
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
}

.about__grid {
    color: var(--dark);
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 2rem;
    text-align: start;
}

.about__grid__sec-1,
.about__grid__sec-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.about__grid__sec-1>*,
.about__grid__sec-2__feature,
.about__grid__prospect {
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: var(--shadow-strong);
    background: var(--background);
}

.about__grid__sec-1__feats {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/tea-card-bg-3.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about__grid__sec-1__feature {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
}

.about__grid__sec-1__feature__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
    box-shadow: var(--shadow-soft);
    flex-shrink: 0;
    color: var(--dark);
    background: var(--section-bg);
    transition: background-color 0.3s, color 0.3s;
}

.about__grid__sec-1__feature__img>svg {
    display: inline;
    vertical-align: middle;
    width: 1.75rem;
    height: 1.75rem;
    color: inherit;
}

.about__grid__sec-1__feature__desc {
    padding: .5rem 1rem;
    border-radius: 1rem;
    background: var(--section-bg);
    transition: background-color 0.3s, color 0.3s;
}

.about__grid__sec-1__feature:has(.about__grid__sec-1__feature__img:hover) .about__grid__sec-1__feature__img,
.about__grid__sec-1__feature:has(.about__grid__sec-1__feature__desc:hover) .about__grid__sec-1__feature__img,
.about__grid__sec-1__feature:has(.about__grid__sec-1__feature__img:hover) .about__grid__sec-1__feature__desc,
.about__grid__sec-1__feature:has(.about__grid__sec-1__feature__desc:hover) .about__grid__sec-1__feature__desc {
    background: rgba(0, 0, 0, .7);
    color: #fff;
}

.about__grid__sec-1__feature__desc__title {
    font-weight: 700;
    margin-bottom: .5rem;
}

.about__grid__sec-1__ourmission {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: var(--bg-cover), url(/tea-card-bg-4.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.about__grid__sec-1__ourmission:has(.about__grid__sec-1__ourmission__title:hover) .about__grid__sec-1__ourmission__title,
.about__grid__sec-1__ourmission:has(.about__grid__sec-1__ourmission__subtitle:hover) .about__grid__sec-1__ourmission__subtitle,
.about__grid__sec-1__ourmission:has(.about__grid__sec-1__ourmission__title:hover) .about__grid__sec-1__ourmission__subtitle,
.about__grid__sec-1__ourmission:has(.about__grid__sec-1__ourmission__subtitle:hover) .about__grid__sec-1__ourmission__title {
    background: rgba(0, 0, 0, .7);
    color: #fff;
}

.about__grid__sec-1__ourmission__title>svg {
    width: 2rem;
    height: 2rem;
    display: inline;
    vertical-align: middle;
}

.about__grid__sec-1__ourmission__title {
    font-weight: 700;
    border-radius: 9999px;
    background: var(--section-bg);
    margin-bottom: 0.75rem;
    padding: .5rem 1rem;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.about__grid__sec-1__ourmission__subtitle {
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    background: var(--section-bg);
    max-width: min(75ch, 80%);
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.about__grid__sec-2__feats {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.about__grid__sec-2__feature {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    transition: background-color 0.3s, color 0.3s;
}

.about__grid__sec-2__feature__img {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__grid__sec-2__feature__img>svg {
    display: inline;
    vertical-align: middle;
    width: 2rem;
    height: 2rem;
}

.about__grid__sec-2__feature>h3 {
    color: var(--dark);
    font-weight: 700;
}

.about__grid__sec-2__feature>* {
    transition: color 0.3s;
}

.about__grid__sec-2__feats:has(.about__grid__sec-2__feature:hover) .about__grid__sec-2__feature {
    background: rgba(0, 0, 0, 0.7);
}

.about__grid__sec-2__feats:has(.about__grid__sec-2__feature:hover) .about__grid__sec-2__feature>* {
    color: #fff;
}

.about__grid__prospect {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: var(--bg-cover), url(/tea-card-bg-2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.about__grid__prospect__title {
    display: flex;
    gap: 1rem;
    font-weight: 700;
    align-items: center;
    background: var(--section-bg);
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.about__grid__prospect__title>svg {
    display: inline;
    vertical-align: middle;
    width: 2rem;
    height: 2rem;
}

.about__grid__prospect__grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 0.5rem;
    justify-items: flex-start;
}

.about__grid__prospect__target {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: 0.5rem;
    background: var(--section-bg);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}


.about__grid__prospect__target>svg {
    display: inline-flex;
    flex-shrink: 0;
    vertical-align: middle;
    width: 1.5rem;
    height: 1.5rem;
}

.about__grid__prospect:has(.about__grid__prospect__title:hover) .about__grid__prospect__title,
.about__grid__prospect:has(.about__grid__prospect__target:hover) .about__grid__prospect__target,
.about__grid__prospect:has(.about__grid__prospect__title:hover) .about__grid__prospect__target,
.about__grid__prospect:has(.about__grid__prospect__target:hover) .about__grid__prospect__title {
    background: rgba(0, 0, 0, .7);
    color: #fff;
}

.about__promise {
    height: 5rem;
    border-radius: 9999px;
    background-image: var(--bg-cover), url(/tea-card-bg-1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--tea-gold);
    padding: 0.5rem 1rem;
    font-size: var(--size-sm);
}


/* md */
@media (min-width: 768px) {

    .about__grid__sec-1__feature {
        align-items: flex-start;
        flex-direction: row;
    }
}

/* lg */
@media (min-width: 1024px) {
    .about__grid__prospect__grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .about__grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}