.products-section {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: var(--section-bg);
    border-radius: 2rem;
    padding: 2rem;
}

.products__description__title {
    font-size: var(--size-3xl);
    font-weight: 700;
    color: var(--dark);
    margin-bottom: 1.5rem;
}

.products__description__subtitle {
    color: var(--dark);
    font-size: var(--size-lg);
    max-width: 70ch;
}

.product__items {
    display: grid;
    text-align: initial;
    gap: 2rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    width: 100%;
}

.product__item {
    background: var(--background);
    box-shadow: var(--shadow-strong);
    border-radius: 1rem;
    transition: 0.3s;
    overflow: hidden;
}

.product__item:hover {
    transform: scale(1.05);
}

.product__item__img {
    overflow: hidden;
    position: relative;
    aspect-ratio: 16 / 9;
    width: 100%;
}

.product-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    aspect-ratio: inherit;
}

.product-slides-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    aspect-ratio: inherit;
}

.product__item__img:has(.product-slides-container:hover) .product-slider>button,
.product__item__img:has(.product-slides-container:hover) .product__item__img__label {
    opacity: 0.3;
}

.product-slide-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
    width: 100%;
    direction: ltr;
}

.product-slide {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    flex-shrink: 0;
}

.product-slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    cursor: pointer;
    z-index: 10;
    transition: all 0.3s ease;
    padding-top: .3em;
}

.product-slider button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateY(-50%) scale(1.1);
}

.product-slider button>span {
    width: 1.5rem;
    height: 1.5rem;
    display: inline;
    vertical-align: middle;
    text-align: center;
}

.product-prev {
    left: 5px;
}

.product-next {
    right: 5px;
}

.single-image .product-prev,
.single-image .product-next {
    display: none;
}

.product__item__img__label {
    display: inline-flex;
    color: var(--dark);
    font-weight: 500;
    font-size: 0.75rem;
    padding: 0.125rem .625rem;
    background: var(--tea-gold);
    border: 1px solid transparent;
    border-radius: 9999px;
    align-items: center;
    top: 1rem;
    right: 1rem;
    position: absolute;
    transition: 0.03s;
    z-index: 10;
}

.product__item__img__label:hover {
    background: var(--tea-green);
    opacity: 1;
}

.product__item__info {
    padding: 1.5rem;
}

.product__item__info__title {
    color: var(--dark);
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.product__item__info__description {
    color: var(--dark);
    font-size: 0.875rem;
    overflow: hidden;
    margin-bottom: 1rem;

}

.product__item__info__characteristics {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.product__item__info__weight {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.product__item__info__weight>svg {
    display: inline;
    vertical-align: middle;
    color: var(--tea-green);
    width: 1rem;
    height: 1rem;
}

.product__item__info__price {
    font-size: .875rem;
    color: var(--tea-green);
    padding: .2rem .5rem;
    font-weight: 700;
}

.product__item__info__weight__title {
    color: var(--dark);
    font-size: 0.875rem;
}

.product__item__info__cta-details {
    font-weight: 500;
    white-space: nowrap;
    display: inline-flex;
    cursor: pointer;
    font-size: 0.875rem;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    transition: 0.3s;
}

.product__item__info__cta-details>svg {
    display: inline;
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
    margin-left: 0.5rem;
}

/* md */
@media (min-width: 768px) {
    .product__items {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

/* lg */
@media (min-width: 1024px) {
    .product__items {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}